.hero-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  background-color: rgb(116, 11, 148);
  padding: 2rem 5rem;
  gap: 2rem;
}

.dark .hero-area {
  background-color: rgb(9, 31, 71);
  color: #fff;
}

.hero-left {
  flex: 1 1 400px;
  color: #fff;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 1rem;
}

.hero-left h2 {
  color: rgb(51, 252, 151);
  font-weight: 700;
  font-size: 34px;
}

.hero-left button {
  display: inline-block;
  background-color: rgb(252, 42, 154);
  border: none;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.4rem 0.6rem;
  border-radius: 0.5rem;
  color: #fff4f4;
  transition: 0.6s;
  cursor: pointer;
}

.hero-left button:hover {
  background-color: rgb(165, 24, 99);
}
.hero-left a {
  text-decoration: none;
}

.hero-right {
  flex: 2 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.hero-right img {
  width: 100%;
  max-width: 380px;
  height: auto;
  background-color: rgb(12, 160, 86);
  border-radius: 5rem 5rem 1rem 1rem;
}

.dark .hero-right img {
  background-color: rgb(124, 4, 88);
}

@media screen and (max-width: 800px) {
  .hero-area {
    padding: 2rem;
    flex-direction: column;
  }
}

@media screen and (max-width: 590px) {
  .hero-area {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-left {
    order: 2;
  }
  .hero-right {
    order: 1;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    text-align: center;
  }

  .hero-left h2 {
    font-size: 28px;
  }

  .hero-left .button {
    margin: 0.5rem auto;
    display: block;
  }
}
